{% extends 'index.html' %}


{% block title %} Reken App {% endblock %}

{% block content %}
<center>


<h1>{{a}} {{operator}} {{b}}</h1>

<h2>
<div class="btn-group" role="group" aria-label="Basic example">
{% for item in answers %}
  <button id="{{item}}" type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">{{item}}</button>
{% endfor %}
</div>
</h2>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
      <h1>Het juiste antwoord is: {{juist}}</h1>
  </div>
</div>


<!--<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="false">{{item}}</a>-->
        <!--<button>{{item}}</button>-->

</center>
{% endblock %}


{% block script %}
<script>

$(document).ready(function(){

    $(".btn").click(function(){

        if ( $(this).attr('id') == {{juist}} ){
            $(this).addClass('btn-success')
        } else {
            $(this).addClass('btn-danger')
        }

        setTimeout(
          function()
          {
                location.reload(true);
          }, 2000);

    });
});
</script>
{% endblock %}